

<div class="card ">
    
    <div class="card-body" class="font-weight-normal" >
        
<span class="tab4">
        Student Name: Lucky Dixit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Enrollment Number: 180486 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Roll Number: 1800908 
    </span>
        <br>
        <br>
<ag-grid-angular
    style="width: 1350px; height: 100px;"
    class="ag-theme-blue"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    
    >
</ag-grid-angular>
    </div>
</div>
<br>
<app-drop></app-drop>

<br>
<app-add></app-add>



