

<div class="card ">
    
    <div class="card-body" class="font-weight-normal" >
        
<span class="tab4">
        Student Name: Lucky Dixit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Enrollment Number: 180486 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Roll Number: 1800908 
    </span>
    <div class="example-header">
        Selection:
        <span id="selectedRows"></span>
      </div>
        <br>
        <br>
<ag-grid-angular
    style="width: 1350px; height: 100px;"
    class="ag-theme-blue"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    
    [rowSelection]="rowSelection"
    (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
   

    >
</ag-grid-angular>
    </div>
</div>
<br>
<router-outlet></router-outlet>




