<div class="border border-dark rounded">
    <form class="card" > 
    
        <div class="card-header"><b>Personal Details</b></div>
    <div class="card-body">

        <div class="form-group row">
    
        <div class="w-70 d-inline-block col">
        <div class="row">
        
        <label class="col-1.5 col-form-label" for="">Student Name</label>
        <input type="text" class="form-control" formControlName="studentName">
        
       
        <label class="col-1.5 col-form-label" for="">Father's Name</label>
        <input type="text" class="form-control" formControlName="fatherName">
       
        <label class="col-1.5 col-form-label" for="">Mother's Name</label>
        <input type="text" class="form-control" formControlName="motherName">
        </div>
        
        <div class="row">
        <label class="col-1.5 col-form-label" for="dob">Date Of Birth</label>
        <input type="date" name="dob" min="1970-02-01" class="form-control" formControlName="dob">
    
        <label class="col-1.5 col-form-label" for="">Gender</label>
        <input type="text" class="form-control" formControlName="gender">

        <label class="col-1.5 col-form-label" for="">Category</label>
        <input type="text" class="form-control" formControlName="category">
        </div>

        </div>
        </div>
      </div>
        
        </form>
        </div>
        