
.btn1 {
    border: 0.5px solid black;
    border-radius: 2.5px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-left: 850px;
    margin-top: 15px;

}


.btn2 {
    border: 0.5px solid black;
    border-radius: 2.5px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 15px;

}

 