<div class="border border-dark rounded">
    <form class="card" > 
    <div class="form-group">
        <div class="card-header"><b>Academic Details</b></div>
    <div class="card-body">

       <div class="form-inline">

    
        <div class="row">
        <div class="d-inline-block mr-10">
        
        <label class="col-xs-5" for="">Enrollment No.</label>
        <input type="text" class="form-control col-xs-3" formControlName="enrollmentno.">
       
        <label for="">Attempt No.</label>
        <input type="text" class="form-control" formControlName="attemptno.">
       
        <label for="">Belongs To</label>
        <input type="text" class="form-control" formControlName="belongsto">
        
        <label for="dob">Program Name</label>
        <input type="text" class="form-control" formControlName="programname">
    
        <label for="">Branch</label>
        <input type="text" class="form-control" formControlName="branch">

        <label for="">Specialization</label>
        <input type="text" class="form-control" formControlName="specialization">

        </div>
        </div>
        </div>
        </div>
    </div>
        </form>
        </div>
        