<div class="card card-default">
    <div class="card-header"><h6>Report: 5-Final Registration Chart</h6></div>
    <div class="card-body">
    <form class="form-inline" action="/action_page.php">
      <div class ="form-group" >
        <label for ="ccontactMethod">Session Year</label>
        <select ngModel name="ccontactMethod" id="ccontactMethod" class="form-control">
          <option value="">Select</option>
          <option *ngFor="let method of ccontactMethod" [value]="method.id">{{method.name}}</option>
         
        </select>
      </div>
    
    </form>
  <br>
  <div class="container">
    <div class="row">
    <div class="col-md-4">
      <div class ="form-group" >
        <label  class = "col-4">Entity Name</label>
      <ng-select [items]="entitynames" bindLabel="name" placeholder="Select" appendTo="body" 
      [(ngModel)]="entities" class= "wid">
    
      <div>{{entities | json}}</div>
    </ng-select>
    </div></div>
    </div>
    <br>
   
    <div class ="form-group" >
      
    <div class="row">
      <div class="col-md-4">
      <label  class = "col-6">Report Header</label>
        <select class="form-control" ngModel name="contactMethod" id="contactMethod"  >
          <option value="">Select</option>
          
          <option value="Final Registration Chart" >Final Registration Chart</option>
          <option value="Final Registration Chart" >Checklist Registration</option>
        </select>
      </div></div></div>
    
    <br>
    <button type="button" class="btn btn-light" onclick="goBack()" routerLink="/fregister">Back to Reports</button>
  </div>
  </div>

  <app-griddata></app-griddata>