<form class="form-horizontal container" #form1="ngForm" (ngSubmit)="submit(form1)"  [formGroup]="form">
    <div class="card card-default shadow">
        <div class="card-header"><h5>&nbsp; Award Blank Reports</h5></div>
        <div class="shadow border">
        <div class="card-body">
           
            <div class="form-group">
                <div class="row">
                <div class="col-5">
                    <label class="control-label col-4">Session*</label>
                    <select class="form-control col-6"  formControlName="session">
                        <option value="">Select</option>
                        <option></option>
                    </select>            
                </div>
                
            
                <div class="col-6">                    
                    
                    <div class="row">
                        <div class="col">
                            
                                
                   
                          </div>
                          
                       <!-- <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                            <div id="myDropdown" class="dropdown-content">
                                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                              <a href="#about">About</a>
                              <a href="#base">Base</a>
                              <a href="#blog">Blog</a>
                              <a href="#contact">Contact</a>
                              <a href="#custom">Custom</a>
                              <a href="#support">Support</a>
                              <a href="#tools">Tools</a>
                            </div>
                          </div>
                              -->       
                   
                    
                     </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="">Entity*</label>
                    <ng-select formControlName="entity"
                                class="wid" [items]="dataList"
                                            bindLabel="entity_name"
                                           placeholder="Select"
                                            appendTo="body"></ng-select>
                    <label for="">Branch*</label>
                    
                    <ng-select formControlName="branch"
                                class="" [items]=""
                                            bindLabel=""
                                           placeholder="Select"
                                            appendTo="body"></ng-select>
                    <label for="">Semester*</label>
                    <select name="" id="" class="form-control" formControlName="semester">
                        <option value="">Select</option>
                        <option *ngFor="let sem of semester" [ngValue]="sem">{{sem}}</option>
                    </select>
                    
                   
                </div>

                <div class="col form-group">
                    <label for="">Program*</label>
            
                    <ng-select formControlName="program"
                                class="" [items]=""
                                            bindLabel=""
                                           placeholder="Select"
                                            appendTo="body"></ng-select>
                    <label for="">Specialisation*</label>
                    
                    <ng-select formControlName="specialisation"
                                class="" [items]=""
                                            bindLabel=""
                                           placeholder="Select"
                                            appendTo="body"></ng-select>
                    <label for="">Course Code*</label>
                    
                    <ng-select formControlName="coursecode"
                                class="" [items]=""
                                            bindLabel=""
                                           placeholder="Select"
                                            appendTo="body"></ng-select>

                    <label for="">Award Blank Type*</label>
                    
                    <ng-select formControlName="awardtype"
                                class="" [items]=""
                                            bindLabel=""
                                           placeholder="Select"
                                            appendTo="body"></ng-select>
                    
                </div>
            </div>
            <label for="" class="control-label">Father Name required?</label>
            <select name="" id="" class="form-control" formControlName="fathername" [(ngModel)]="selectedValue">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br>
            <div class="row">
                <button class="btn btn-secondary">Generate</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary">Download</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary">Print</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary" (click)="form1.reset()">Reset</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary">Cancel</button>
            </div>
           <!-- <div class="control-group">
                <label for="input1" class="control-label col-sm-2">Label</label>
                <div class="controls col-sm-10">
                    <input id="input1" type="text">
                </div> 
            </div>-->
            </div>
        </div>
        <span class="text-red">Note:* = Mandatory fields to be selected.</span>
        </div>
    
    </form>
    
    