<form class="form-inline" action="/action_page.php" #g="ngForm">
    <div class="container">

    <div class="form-group row">
        <div class="w-75 d-inline-block col"><br>
            <div class="row">
                <div class="col-1 col-form-label">
        <label for="status" class="">Program*: </label>
                </div>
                <div class="col">

                    <ng-select [items]="programs"
                               bindLabel="name"
                               placeholder="Select Program"
                               appendTo="body"
                               [(ngModel)]="selected">
                    </ng-select>
                   
        </div>
    
    <div class="col-1 col-form-label">
        <label for="session">Session:*</label>
    </div>
    <div class="col">

        <ng-select [items]="sessions"
               bindLabel="name"
               placeholder="Select Session"
               appendTo="body"
               [(ngModel)]="selected">
        </ng-select>
       
           
            </div>

           
            </div>

            <button class="btn1 btn-default" type="ok" routerLink="/sixth/coursedetails/studentdetails">Ok</button>
            <button class="btn1 btn-default" type="cancel" click="g.reset()" >Cancel</button>
            
        </div>
        </div>
   
    </div>
</form>
<router-outlet></router-outlet>

<!-- <h1>Angular Multiselect Dropdown with Search - ItSolutionStuff.com</h1>
  
<ng-select [items]="categories"
               bindLabel="name"
               placeholder="Select Category"
               appendTo="body"
               multiple="true"
               [(ngModel)]="selected">
</ng-select>
  
<button (click)="getSelectedValue()">Get Selected Values</button> -->
