.card {
    width: 530px;
    height: 330px;
    margin-top: 100px;
    margin-bottom: 800px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: left;
    
}

.shadow {
    width: 530px;
    height: 330px;

}

.card-heading {
    width: 530px;
    height: 50px;
    background-color: lightgray;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: left 10px;
    padding-top: 10px;
    padding-left: 7px;

}

.form-group {
    font-family: "Times New Roman", Times, serif;
    width: 390px;
    height: 20px;
    text-align: left;
    margin-left: 2px;
    margin-top: 25px;
   
}

.alert {
    text-align: right;
    width: auto;
    height: fit-content;
}


.btn1 {
    border: 0.5px solid black;
    border-radius: 2.5px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10px;

}

