    <div class="card card-default">
        <div class="card-heading">
            <h5><b>Edit Name in Hindi( Master)</b></h5></div>
        <div class="shadow border">
        <div class="card-body">

          <form class="form-inline" action="/action_page.php" #detailsForm="ngForm">
            <div class="container">
        
            
                <div class="w-85 d-inline-block col"><br>
                    <div class="form-group row">
                        <div class="col-2 col-form-label">
                          <label for="session ">Session*: </label>
                        </div>

                        
                        <div class="col-6">

                            <!-- <ng-select [items]="sessions"
                                      bindLabel="name"
                                      placeholder="Select Session"
                                      appendTo="body"
                                      [(ngModel)]="selected"  [ngModelOptions]="{standalone: true}">
                            </ng-select> -->
                          <select class="form-control" id="session "
                            required
                            [(ngModel)]="session " name="session ">
                            <option  [ngValue]="null">Select Session </option>
                            <option *ngFor="let ses of session" [value]="ses.id">{{ses.name}}</option>
                          </select>
               
                
                </div>
            
            <div class="col-3 col-form-label">
              <label for="entity" >Entity*: </label>
            </div>
  
           
            <div class="col-1">

              <!-- <ng-select  [items]="entities"
                           bindLabel="name"
                           placeholder="Select entity"
                           appendTo="body"
                           [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
              </ng-select> -->
            <select class="form-control" id="entity "
              required
              [(ngModel)]="entity " name="entity ">
              <option  [ngValue]="null">Select Entity </option>
              <!-- <option *ngFor="let en of entity" [value]="en.id">{{en.name}}</option> -->
              <option *ngFor="let en of entity" [value]="en.entity_id">{{en.entity_name}}</option>
            </select>
                
                   
                    </div>
        
                   
                    </div>
        
                </div><br>
                

              <div class="form-group row">
                 
                      <div class="row">
                          <div class="col-3 col-form-label">
                  <label for="status" class="">Program*: </label>
                          </div>
                          <div class="col-6">

                            <!-- <ng-select [items]="programs"
                               bindLabel="name"
                               placeholder="Select Program"
                               appendTo="body"
                               [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
                               
                            </ng-select> -->
                              <select class="form-control" id="program "
                              required
                              [(ngModel)]="program " name="program ">
                              <option  [ngValue]="null">Select Program </option>
                              <!-- <option *ngFor="let prg of prgBrSpList" [value]="prg.program_id">{{prg.program_name}}</option> -->
                              <option *ngFor="let pow of program" [value]="pow.id">{{pow.name}}</option>
                            </select>
                 
                  </div>
              
              <div class="col-2 col-form-label">
                <label for="branch ">Branch*: </label>
              </div>

              <div class="col-1">

                    <!-- <ng-select 
                               [items]="branches"
                 class="wid"   bindLabel="name"
                               placeholder="Select branch"
                               appendTo="body"
                               [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
                    </ng-select> -->



                 <select class="form-control" id="branch "
                  required
                  [(ngModel)]="branch " name="branch ">
                  <option  [ngValue]="null">Select Branch </option>
                  <option *ngFor="let br of branch" [value]="br.id">{{br.name}}</option>
                </select> 
                   
                      </div>  
                    </div>
                  </div><br>
        

                <div class="form-group row">
                    
                        <div class="row">

                            <div class="col-3 col-form-label">
                              <label for="specialization ">Specialization*: </label>
                            </div>

                            <div class="col-6">
                               
                            <ng-select [items]="specializations"
                               bindLabel="name"
                               placeholder="Select specialization"
                               appendTo="body"
                               [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
                            </ng-select>
                                 
                                
                              <!-- <select class="form-control" id="specialization "
                                required
                                [(ngModel)]="specialization " name="specialization ">
                                <option  [ngValue]="null">Select Specialization </option>
                                <option *ngFor="let sp of specialization" [value]="sp.id">{{sp.name}}</option>
                              </select> -->
                   
                    </div>
                
                <div class="col-2 col-form-label">
                  <label for="semester ">Semester*: </label>
                </div>

                  <div class="col-1">

                    <!-- <ng-select [items]="semesters"
                    class="wid" bindLabel="name"
                                placeholder="Select semester"
                                appendTo="body"
                                [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
                    </ng-select> -->
                  <select class="form-control" id="semester "
                    required
                    [(ngModel)]="semester " name="semester ">
                    <option  [ngValue]="null">Select Semester/Module </option>
                    <option *ngFor="let sem of semester" [value]="sem.id">{{sem.name}}</option>
                  </select>
                        
                        </div>
            
                       
                      </div> 
          
            </div><br>
            
            <button type="Ok" class="btn1 btn-default" routerLink="/fivth/editname-datagrid" [disabled]="!detailsForm.form.valid">Ok</button>
                <router-outlet></router-outlet> 
            </div>
            
        </form>
        </div>
        </div>
        </div>

        

      
  
  
     