<div class="border border-dark rounded">
    <form class="card" > 
    <div class="form-group">
        <div class="card-header"><b>Semester Details</b></div>
    <div class="card-body">
    
    <div>
        <div class="d-inline-block mr-10">
        <label for="">Semester Name</label>
        <input type="text" class="form-control" formControlName="semesterName">
       
        <label for="">Semester Start Date</label>
        <input type="text" class="form-control" formControlName="semesterStartDate">
       
        <label for="">Semester End Date</label>
        <input type="text" class="form-control" formControlName="semesterEndDate">
        
       
        </div>
        </div>
        </div>
        </div>
        </form>
        </div>
        